th = t('.num')
th = t('.name')
th = t('.state')
th.center-cell = abbr t("cost_short_#{Setting.company}", default: t('.cost')),
  t("cost_#{Setting.company}", default: t('.cost_long'))
th = t('.gkpz_year')
th = t('.announce_date')
th = t('.tender_type')
th = t('.customer')
th = t('.organizer')
th
