<div class="criterion">
  <!-- <div class="content"></div> -->
  <div class="row">
    <div class="span1"><%= text_field_tag 'crit_num', index, class: 'input-block-level' %></div>
    <div class="span6"><%= text_area_tag 'crit_name', criterion.name, rows: 2, class: 'input-block-level' %></div>
    <div class="span1"><%= text_field_tag 'crit_value', nil, class: 'input-block-level' %></div>
  </div>
</div>
