update_url = ''
updatable_td = ''

$(document).on 'click', '.select_contract_expired', (event) ->
  link_select_okdp = $(this)
  update_url = $(this).data('url-update')
  updatable_td = $(this).closest('tr').find('.td-reason')
  $.get $(this).data('url-edit'), (data) ->
    $('#lot_non_contract_reason').val(data)
  $('#contract_expired').modal()

$(document).on 'click', '#btn_save_expired', (event) ->
  params =
    offer:
      non_contract_reason: $(this).closest('#contract_expired').find('#offer_non_contract_reason').val()
  $.ajax
    type: "PATCH",
    url: update_url,
    data: params
  .done (data) ->
    updatable_td.html(data)
    $('#contract_expired').modal('hide')
  .fail (jqXHR) ->
    $('#contract_expired').modal('hide')
    $('.select_contract_expired').popover('destroy')
    $('.select_contract_expired').popover
      html: true
      placement: 'left'
      content: '<p>' + "<%= I18n.t('contract_expireds.offer_error') %>" + '</p>' + jqXHR.responseText
    $('.select_contract_expired').popover('show')
