table.main-contacts {
  width: 100%;
  table-layout: fixed;
  .col1 {
    width: 35%
  }
  .col2 {
    width: 30%
  }
  .col3 {
    width: 33%
  }
  .col4 {
    width: 2%;
    text-align: center;
  }

}
