= render "/shared/submenu_tender", tender: @tender

.page-header
  h1 = t('.title_head')

= render 'tenders/tender_header', tender: tender

p.pull-right
  = link_to t('edit'), edits_tender_experts_path, class: 'btn btn-warning'

= react_component 'TenderExperts'
